{
    "DEFAULT": {
        "TOKEN": "",
        "STATUS": "",
        "PREFIX": "."
    },

    "GUILD": null,

    "MODERATOR": [
        "**Admin**"
    ],

    "CLASS": [
        "SETG": null,
        "SETH": null,
        "SETJ": null,
        "DEFAULT": null
    ],

    "CHANNEL": {
        "WELCOME": null,
        "BUSUPDATES": null
    },

    "TWITTER": {
        "APIKEY": "",
        "APISECRET": "",
        "BEARER": "",
        "TOKEN": "",
        "TOKENSECRET": ""
    }
}
