{
    "DEFAULT": {
        "TOKEN": "",
        "STATUS": "",
        "PREFIX": "."
    },

    "GUILD": null,

    "MODERATOR": [
        "**Admin**"
    ],

    "CLASS": {
        "SETG": null,
        "SETH": null,
        "SETJ": null,
        "DEFAULT": null
    },

    "CHANNEL": {
        "STAFF": null,
        "WELCOME": null,
        "BUSUPDATES": null
    }

    "MCSERVER": ""
}
