{ 
    "DEFAULT": {
        "TOKEN": "",
        "STATUS": "",
        "PREFIX": "."
    },

    "GUILD": "",

    "MODERATOR": [
        "**Admin**"
    ],

    "CHANNEL": {
        "WELCOME": null
    }
}
